#motion-nav {
  position: absolute;
  top: 0;
  z-index: 50;
  right: 0;
  bottom: 0;
  width: 200px;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: white;
  }
  button {
    outline: none;
    border: none;

    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 51px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e1e1e1;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  ul {
    padding: 25px;
    position: absolute;
    top: 40px;
    width: 230px;
  }

  li {
    list-style: none;
    margin-bottom: 20px;

    display: flex;
    align-items: center;

    cursor: pointer;
  }

  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }

  .text-placeholder {
    text-align: start;
    border-radius: 5px;

    display: block;
    border-bottom: solid 1px grey;
    font-weight: 500;
    width: 100px !important;
    height: 20px;
    padding: 4px 0;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
